<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gjj.govcombackend.mapper.CommunityLikeMapper">

    <resultMap id="BaseResultMap" type="com.gjj.govcombackend.model.entity.CommunityLike">
            <id property="id" column="id" />
            <result property="userId" column="userId" />
            <result property="postId" column="postId" />
            <result property="commentId" column="commentId" />
            <result property="createTime" column="createTime" />
            <result property="updateTime" column="updateTime" />
            <result property="isDeleted" column="isDeleted" />
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,postId,commentId,createTime,updateTime,
        isDeleted
    </sql>
</mapper>
